<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="vm">
        <div class="container d-flex justify-content-center align-items-center pb-5">
            <!-- 登录 -->
            <template v-if="userState==0">
                <card>
                    <template v-slot:header>
                        <h3>欢迎登录</h3>
                    </template>
                    <card-form submit-button-text="登录" @submit="登录" key="登录"></card-form>
                    <template v-slot:footer>
                        <button class="btn btn-link text-secondary" @click="setState(-1)">如果您还没有账户，请点击此处注册</button>
                    </template>
                </card>
            </template>
            <!-- 注册 -->
            <template v-else-if="userState==-1">
                <card>
                    <template v-slot:header>
                        <h3>欢迎登录</h3>
                    </template>
                    <card-form submit-button-text="登录" @submit="登录" key="登录"></card-form>
                    <template v-slot:footer>
                        <button class="btn btn-link text-secondary" @click="setState(0)">如果您已注册账户，请点击此处登录</button>
                    </template>
                </card>
            </template>
            <!-- 欢迎页面 -->
            <template v-else>
                <div>
                    <h1 class="mb-4">您好，{{user.username}}</h1>
                    <div class="text-center border-top">
                        <button class="btn btn-link text-secondary" @click="setState(0)">点击此处退出</button>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <template id="formGroupInput">
        <div class="from-group">
            <input type="text" class="form-control" :placeholder="placeholder" :value="username"
                @input="$emit('input',$event.target.value)">
        </div>
    </template>
    <template id="fromGroupPassword">
        <div class="input-group">
            <input :type="type" class="form-control"
                :placeholder="placeholder" :value="password" @input="$emit('input',$event.target.value)">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" @click="isShowPassword!=isShowPassword">{{passwordButtonText}}</button>
                </div>
        </div>
    </template>
    <template id="fromGroupSubmit">
        <input type="button" class="form-control btn btn-primary"
                                    :disabled="disabled" @click="$emit('click')">
    </template>
    <template id="card">
        <div class="card border-0 mb-5">
            <div class="card-header bg-white">
                <slot name="header"></slot>
            </div>
            <div class="card-body">
                <slot></slot>
            </div>
            <div class="card-footer bg-transparent text-center">
                <slot name="footer"></slot>
            </div>
        </div>
    </template>
    <template id="cardForm">
        <form>
            <form-group-input placeholder="请输入用户名" :key="`{key}Text`" v-model="username"></form-group-input>
            <form-group-password placeholder="请输入密码" :key="`{key}Password`" v-model="password"></form-group-password>
            <form-group-submit :disabled="isDisabledSubmit" :btn-text="submitButtonText" @click="$emit('submit',username,password)"></form-group-input>
        </form>
    </template>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
         Vue.component('formGroupInput',{
             model:{
                 prop:'username',
                 event:'input'
             },
             props:{
                 username:{
                     default:''
                 },
                 placeholder:{
                     default:''
                 }
             },
             template:"#formGroupInput"
         })
         Vue.component('fromGroupPassword',{
             model:{
                 prop:'password',
                 event:'input'
             },
             props:{
                 password:{
                     default:''
                 },
                 placeholder:{
                     default:''
                 }
             },
             data:function(){
                 return{
                     isShowPassword:false
                 }
             },
             computed: {
                passwordButtonText:function() {
                    return this.isShowPassword ? '隐藏' : '显示'
                }, 
                type:function() {
                    return this.isShowPassword ? 'text' : 'password'
                }   

             },
             template:"#fromGroupPassword"
         })
         Vue.component('card',{
             template:"#card"
         })
         const cardForm={
             props:{
                 submitButtonText:{
                     default:"提交"
                },
                key:{
                default:''
             }
        },
        data:function(){
            return{
                username:'',
                password:''
            }
        },
        computed:{
            isDisabledSubmit:function() {
                   
                    return  this.username.trim().length == 0 || this.password.trim().length == 0
                }
        },
        template:"#cardForm"
           
    }
          let vm = new Vue({
              components:{
                  'cardForm':cardForm
              },
            el: '#vm',
            data: {
                userState: -1,  
                user: { username: '', password: '' },
            
            },
            methods: {
              
                // 更换状态
                setUserState(state) {
                    this.userState = state
                },
                // 注册 
                regist() {
                    // 赋值
                    this.user.username = this.username
                    this.user.password = this.password
                    alert('注册成功')
                    this.setUserState(0)
                },
                login() {
                    // 登录判断
                    if (this.user.username == this.username && this.user.password == this.password) {
                        // 设置状态码
                        this.setUserState(1)
                    } else {
                        alert('登录失败')
                    }
                }
            },
        })
    </script>
</body>
</html>