<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div id="vm">
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <router-view></router-view>
        </div>
    </div>
    <template id="formGroupInput">
        <div class="from-group">
            <input type="text" class="form-control mb-3" :placeholder="placeholder" 
               :value="username"
               @input="$emit('input',$event.target.value)">
        </div>
    </template>
    <template id="formGroupPassword">
        <div class="input-group">
            <input :type="type" class="form-control"
                :placeholder="placeholder" :value="password" @input="$emit('input',$event.target.value)">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary  mb-3" @click="isShowPassword!=isShowPassword">{{passwordButtonText}}</button>
                </div>
        </div>
    </template>
    <template id="formGroupSubmit">
        <button type="button" class="btn btn-primary form-control" :disabled="disabled"
        @click="$emit('click')">
        {{btnText}}
        </button>
    </template>
    <template id="card">
        <div class="card border-0 mb-5">
            <div class="card-header bg-white">
                <slot name="header"></slot>
            </div>
            <div class="card-body bg-white">
                <slot></slot>
             </div>
             <div class="card-footer bg-transparent text-center">
              <slot name="footer"></slot>
            </div>
        </div>
    </template>
    <template id="cardForm">
        <form>
            <form-group-input placeholder="请输入用户名" :key="`${keyword}Text`" v-model="username"></form-group-input>
            <form-group-password placeholder="请输入密码" :key="`${keyword}password`" v-model="password"></form-group-password>
            <form-group-submit :disabled="isDisabledSubmit" :btn-text="submitButtonText" @click="$emit('submit',username,password)"></form-group-submit>
        </form>
    </template>
    <template id="registPage">
        <card>
            <template v-slot:header>
               <h3>欢迎注册</h3>
            </template>
            <card-form submit-button-text="注册" @submit="regist" keyword="regist"></card-form>
            <template v-slot:footer>
                <router-link to="/login" class="btn btn-link text-secondary">如果您已注册账户，请点击此处登录</router-link>
            </template>
        </card>
    </template>
    <template id="loginPage">
        <card>
            <template v-slot:header>
               <h3>欢迎登录</h3>
            </template>
            <card-form submit-button-text="登录" @submit="login" keyword="login"></card-form>
            <template v-slot:footer>
                 <router-link to="/regist" class="btn btn-link text-secondary">如果您没有注册账户，请点击此处注册</router-link>
            </template>
        </card>
    </template>
    <template id="indexPage">
        <div>
            <h1 class="mb-4">您好，{{user.username}}</h1>
            <div class="text-center border-top">
                <router-link to="/login" class="btn btn-link text-secondary">点击此处退出</router-link>
            </div>
        </div>
    </template>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
        const user={ username: '111', password: '111' }
      Vue.component('formGroupInput',{
          model:{
              prop:"username",
              event:"input"
          },
          props:{
              username:{
                  default:''
              },
              placeholder:{
                default:''
              }
          },
          template:"#formGroupInput"
      })
      Vue.component('formGroupPassword',{
          model:{
              prop:'password',
              event:'input'
          },
         props:{
            password:{
                  default:''
              },
              placeholder:{
                default:''
              }
         },
         data:function(){
             return{
                 isShowPassword:false
             }
         },
         computed: {
             passwordButtonText:function(){
               return this.isShowPassword ? '隐藏' : '显示'
             },
             type:function(){
                return this.isShowPassword ? 'text' : 'password'
             }
         },
         template:"#formGroupPassword"
      })
      Vue.component('formGroupSubmit',{
          props:{
              disabled:{
                  default:false
              },
              btnText:{
                  default:'按钮'
              }
          },
          template:"#formGroupSubmit"
      })
      Vue.component('card',{
          template:"#card"
      })
      
      const cardForm={
          props:{
              submitButtonText:{
                  default:'提交'
              },
              keyword:{
                  default:''
              }
          },
          data: function(){
              return{
                  username:'',
                  password:''
              }
          },
          computed:{
            isDisabledSubmit:function(){
               return  this.username.trim().length == 0 || this.password.trim().length == 0
            }
          },
          template:"#cardForm"
      }
      const registPage={
        components:{
               
                'cardForm':cardForm
            },
          template:"#registPage"
      }
      const  loginPage={
       components:{
     
        'cardForm':cardForm
        },
        template:"#loginPage"
      }
      const  indexPage={
        data:function(){
            return{
                user:user
            }
        },
        components:{
                'cardForm':cardForm
            },
          template:"#indexPage"
      }
      const router=new VueRouter({
        routes:[
              { path: '/regist',component:registPage},
              { path: '/login',component:loginPage},
              { path: '/index',component:indexPage}
              ]
      })  
          let vm = new Vue({
            router,
            el: '#vm',
            data: {
              
            },
            methods: {
                // 注册 
                regist() {
                    // 赋值
                    this.user.username = this.username
                    this.user.password = this.password
                    alert('注册成功')
                    router.push({path:'/login'})
                },
                login() {
                    // 登录判断
                    if (this.user.username == this.username && this.user.password == this.password) {
                        this.$router.push({path:'/index'})
                    } else {
                        alert('登录失败')
                    }
                }
            },
        })
    </script>
</body>
</html>